---
---
<div class="preloader" id="preloader">
  <div class="preloader-content">
    <h2 class="preloader-title">J.A VIDEOMAKER</h2>
    <div class="preloader-progress-bar">
      <div class="preloader-progress-fill" id="progress-fill"></div>
    </div>
    <div class="preloader-percentage" id="loader-percentage">00</div>
  </div>
</div>
